.introduction-section {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 1s ease-in-out; /* Smooth transition for background image change */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.content {
  z-index: 2; /* Ensure content is above the overlay */
  text-align: center;
}

.homepage-title, .homepage-subtitle {
  color: white;
  animation: zoomInUp 1s ease-out;
}

.slider-content-btn {
  margin-top: 20px;
}

.section-switch-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}

.switch-button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3) !important; /* Slightly more visible on hover */
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.switch-button:hover {
  background-color: rgba(255, 255, 255, 0.5) !important; /* More transparent background */
}


@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
