/* Container for the form and student list */
.student-food-sign-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling */
  .student-food-sign-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Students summary styling */
  .students-summary {
    margin-top: 30px;
  }
  
  .day-summary {
    background-color: #e7f4e7;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .day-summary h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .meal-summary {
    display: flex;
    justify-content: space-between;
  }
  
  .meal-summary div {
    width: 45%;
  }
  
  .meal-summary h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .meal-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .meal-summary li {
    font-size: 14px;
    margin: 5px 0;
  }
  